
    <ul class="nav nav-tabs">
      <li class="active"><a href="#read" data-toggle="tab">Read</a></li>
      <li><a href="#listen" data-toggle="tab">Listen</a></li>
      <li><a href="#watch" data-toggle="tab">Watch</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active juicer-data data" id="read">
        <% if @articles.nil? %>
          No relevant reading material.<br>
        <% else %>
          <%= render :partial => 'shared/article', :collection => @articles %>

          <br>
          <p><%= link_to image_tag('rss.jpg', :alt => 'Subscribe via RSS'), read_profile_path(@person.url_key, :format => 'rss'), :title => 'Subscribe via RSS' %></p>
        <% end %>
      </div>

      <div class="tab-pane programme-data data" id="listen">
        <%= 'No radio programmes available.' if @radio_programmes.blank? && @upcoming_radio_programmes.blank? %>
        <% if @radio_programmes.present? %>
          <%= render :partial => 'shared/programmes', :locals => { :programmes => @radio_programmes } %>
          <p><%= link_to image_tag('rss.jpg', :alt => 'Subscribe via RSS'), listen_profile_path(@person.url_key, :format => 'rss'), :title => 'Subscribe via RSS' %></p>
        <% end %>

        <%= render(:partial => 'shared/upcoming_programmes', :locals => { :programmes => @upcoming_radio_programmes }) if @upcoming_radio_programmes.present? %>
      </div>

      <div class="tab-pane programme-data data" id="watch">
        <%= 'No TV programmes available.' if @tv_programmes.blank? && @upcoming_tv_programmes.blank? %>
        <% if @tv_programmes.present? %>
          <%= render('shared/programmes', :programmes => @tv_programmes) %>
          <p><%= link_to image_tag('rss.jpg', :alt => 'Subscribe via RSS'), watch_profile_path(@person.url_key, :format => 'rss'), :title => 'Subscribe via RSS' %></p>
        <% end %>

        <%= render(:partial => 'shared/upcoming_programmes', :locals => { :programmes => @upcoming_tv_programmes }) if @upcoming_tv_programmes.present? %>
      </div>
    </div>


