<% title(@person.name) %>

<% content_for :extra_nav do %>

  <div class="nav-collapse collapse">
    <ul class="nav">
      <li>
      <label class="radio inline" for="normal-mode">
        <input type="radio" class="modes" name="mode" id="normal-mode" value="normal" /> Normal
      </label>
      <label class="radio inline" for="source-mode">
        <input type="radio" name="mode" class="modes" id="source-mode" value="source" /> View Source
      </label>
      <label class="radio inline" for="hidden-mode">
        <input type="radio" name="mode" class="modes" id="hidden-mode" value="hidden" /> Hide Unmoderated
      </label>
      </li>
      <li><span class="juicer-key source-legend">Juicer</span></li>
      <li><span class="pips-key source-legend">PIPs Contributions</span></li>
      <li><span class="programme-key source-legend">PIPs Tags</span></li>
      <li><span class="music-key source-legend">Music</span></li>
    </ul>
  </div>
  </div>

<% end %>

<div class="row">
  <div class="span2 text-center">
    <% unless @person.image.blank? %>
      <%= image_tag(@person.image, :alt => @person.name, :class => 'juicer-data data') %>
    <% end %>

    <% if current_user && current_user.is_following?(@person) %>
      <a href="javascript:;" class="btn btn-info follow" data-dbpedia-key="<%= @person.url_key %>">Following</a>
    <% elsif current_user %>
      <a href="javascript:;" class="btn btn-success follow" data-dbpedia-key="<%= @person.url_key %>">Follow</a>
    <% end %>

    <% if @organisations.present? %>
    <br><br>
    <H4>Organisations</h4>
    <div id="tag-container" class="well well-small juicer-data data" style="width: 180px;">
      <canvas width="180" height="200" id="tag-cloud">
        <% @organisations.each do |o| %>
          <%= link_to o.name, show_profile_path(o.url_key) %>
        <% end %>
      </canvas>
    </div>
    <% end %>
  </div>
  <div class="span7">
    <h1 class="juicer-data data"><%=h @person.name %> <%= link_to('Edit', edit_profile_path(@person.url_key), :class => 'btn btn-danger') if current_user && current_user.admin? %></h1>
    <p class="juicer-data data"><%=h @person.description %></p>
    <div class="data-source"><small>Source: Wikipedia</small></div>

    <%= render 'profiles/content_tabs' %>
  </div>
  <div class="span3">
    <%= render 'shared/artist_reviews', :reviews=> @reviews %>
    <%= render 'shared/artist_tracks', :tracks=> @latest_tracks %>
    <%= render 'shared/artist_programmes', :artist_programmes => @artist_programmes %>
  </div>
</div>

<% if @people.present? %>
<hr />
<h2>Related People</h2>

<div class="row-fluid juicer-data data">
  <ul class="thumbnails">
    <% @people.each do |person| %>
      <li class="span3">
        <div class="thumbnail">
          <div class="img" style="width: 200px; height: 200px; margin-left: 30px; background-size: cover; background-image: url('<%= person.image %>');">
          </div>
          <div class="caption">
            <h3><%=h person.name %><span class="badge badge-success pull-right"><%= person.cooccurence_count %></span></h3>
            <p class="text-center"><%= link_to('View Details', show_profile_path(person.url_key), :class => "btn btn-primary") %></p>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
<% end %>
