<div class="pips-tags-data data">

  <h3>Upcoming Broadcasts</h3>

  <% programmes.each do |programme| %>
    <div class="row-fluid">
      <div class="span3"><%= image_tag programme.image, :class => 'img-polaroid' %></div>
      <div class="span9">
        <h4><%= link_to( "#{sanitize programme.title} - #{sanitize programme.subtitle}", "http://www.bbc.co.uk/programmes/#{programme.pid}" ) %></h4>
        <p class="synopsis"><%= sanitize programme.synopsis %></p>
        <p>
          On <strong><%=sanitize programme.channel %></strong> at
          <strong><%= programme.start_time.strftime('%l:%M%P, %A %e %B') %></strong>
        </p>
      </div>
    </div>
  <% end %>

  <br>


  <% if @person.present? %>
    <% url = url_for send("#{programmes.first.type}_schedules_url", :name => @person.url_key, :format => :ics) %>
    <%= link_to image_tag('calendar.png'), url,
      :rel => 'popover', :data => { :content => "Subscribe to <pre>#{url}</pre>".html_safe, :html => 'true' } %>
  <% end %>
</div>
