<!DOCTYPE html>
<html>
<head>
<title><%= yield :title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="#">BBC People</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li>
            <label class="radio inline" for="normal-mode">
              <input type="radio" class="modes" name="mode" id="normal-mode" value="normal" /> Normal
            </label>
            <label class="radio inline" for="source-mode">
              <input type="radio" name="mode" class="modes" id="source-mode" value="source" /> View Source
            </label>
            <label class="radio inline" for="hidden-mode">
              <input type="radio" name="mode" class="modes" id="hidden-mode" value="hidden" /> Hide Unmoderated
            </label>
            </li>
            <li><span class="juicer-key source-legend">Juicer</span></li>
            <li><span class="pips-key source-legend">PIPs Contributions</span></li>
            <li><span class="programme-key source-legend">PIPs Tags</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">

    <%= yield %>

  </div>

  <div class="footer">
    <div class="container">
     A <%= link_to 'Connected Studio', 'http://twitter.com/bbc_connected' %> prototype using 
    <%= link_to 'BBC Programmes', 'http://twitter.com/bbc' %> and 
    <%= link_to 'BBC News Labs', 'http://twitter.com/bbc_news_labs' %>.
    </div>
  </div>
  </body>
  </html>
