<!DOCTYPE html>
<html>
<head>
<title><%= yield :title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="pull-right navbar-text">
        <% if current_user %>
          <%= link_to "@#{current_user.twitter_handle}", user_path(current_user) %>
        <% else %>
          <%= link_to "Sign in with Twitter", "/auth/twitter", :class => 'pull-right' %>
        <% end %>
      </div>
      <a class="brand" href="/">BBC People</a>

      <%= yield :extra_nav %>
     </div>
    </div>
  </div>

  <div class="container">

    <%= yield %>

  </div>

  <div class="footer">
    <div class="container">
     A <%= link_to '@BBC_Connected', 'http://twitter.com/bbc_connected' %> prototype using 
    <%= link_to '@Programmes', 'http://twitter.com/programmes' %> and 
    <%= link_to '@BBC_News_Labs', 'http://twitter.com/bbc_news_labs' %>.
    <div class="pull-right">
      <%= link_to 'Chrome Extension', chrome_path %>
    </div>
    </div>
  </div>
  </body>
  </html>
